<?xml version="1.0" encoding="UTF-8"?>
<!-- Tools to change and view node example output. -->
<launch>
    
    <!--<env name="ROS_IP" value="192.168.1.241"/>-->
    
    <env name="ROSCONSOLE_CONFIG_FILE" 
         value="$(find dso_ir_ros)/cfg/rosconsole.conf"/> 
    
    <arg name="play_bagfile" default="false" />
       
    <arg name="record_cameras" default="false" />
    <arg name="run_rviz" default="true" />
    <arg name="run_dso_ir" default="true" />
    
    <arg name="use_usb_cam_driver" default="false"/>
    <arg name="libuvc_camera_driver" default="true"/>
    
    <arg name="run_profiler" value="false" />

    <arg name="profile_attribute" value="" unless="$(arg run_profiler)"/>
    <arg name="profile_attribute" 
         value="valgrind &#x002d;&#x002d;tool=callgrind &#x002d;&#x002d;collect-atstart=no" 
         if="$(arg run_profiler)" />

    <arg name="map_frame" default="optitrack" />
    <arg name="rgb_optical_frame" default="rgb_optical_frame" />
    <arg name="rgbd_frame" default="rgbd_frame" />

    <!-- BEGIN Live sensor configuration -->
    <arg name="camera" default="camera" />

    <node pkg="rosbag" type="record" name="rosbag_record_rgbd_cam"
          args="record -o $(arg savefile) /camera/rgb/image_raw /camera/rgb/camera_info /camera/depth_registered/image_raw"
          if="$(arg record_cameras)" />
    <!-- END Save data to .bag file configuration -->

    <group ns="camera">
        <node pkg="dso_ir_ros" type="dso_ir_ros" name="dso_ir_ros"  output="screen" 
              if="$(arg run_dso_ir)">
            <!--<remap from="image_raw" to="camera/image_raw"/>-->
            
            <param name="calibration_file" value="$(find dso_ir_ros)/conf/camera_ir.txt"/>
            <!--<param name="calibration_file" value="$(find dso_ir_ros)/conf/nexigo_N680E.txt"/>-->
        </node>
    
        <node pkg="libuvc_camera" type="camera_node" name="mycam" if="$(arg libuvc_camera_driver)">
            <!-- Parameters used to find the camera -->
            <param name="vendor" value="0x0c45"/>
            <param name="product" value="0x6530"/>
            <param name="serial" value=""/>
            <!-- If the above parameters aren't unique, choose the first match: -->
            <param name="index" value="0"/>

            <!-- Image size and type -->
            <!--<param name="width" value="1920"/>
            <param name="height" value="1080"/>-->
            <!-- choose whichever uncompressed format the camera supports: -->
            <param name="video_mode" value="uncompressed"/> <!-- or yuyv/nv12/mjpeg -->
            <param name="frame_rate" value="30"/>

            <param name="timestamp_method" value="start"/> <!-- start of frame -->
            <!--<param name="camera_info_url" value="file:///tmp/cam.yaml"/>-->

            <!--<param name="auto_exposure" value="3"/> --> <!-- use aperture_priority auto exposure -->
            <param name="auto_white_balance" value="false"/>
        </node>
    </group>    
    
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen" if="$(arg use_usb_cam_driver)">
        <param name="video_device" value="/dev/video1" />
        <param name="image_width" value="1920" />
        <param name="image_height" value="1080" />
        <!--<param name="image_width" value="1280" />
        <param name="image_height" value="720" />-->
        <param name="pixel_format" value="yuyv" />
        <!--<param name="pixel_format" value="grey" />-->
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="$(arg rgb_optical_frame)" />
        <param name="io_method" value="mmap"/>
    </node>       

    <!--<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="true" />
    </node>-->
                                                
    <node name="base_to_optical" pkg="tf" 
          type="static_transform_publisher"  
          args="0.0 0.0 0.5  0.5 -0.5 0.5 -0.5 $(arg map_frame) $(arg rgb_optical_frame) 100" />   
        
    <arg name="rviz_config_file" default="dso_ir_ros.rviz" />    
    <node pkg="rviz" type="rviz" name="rviz" output="screen" 
          args="-d $(find dso_ir_ros)/rviz/$(arg rviz_config_file)" if="$(arg run_rviz)"/>
</launch>
